.DS_Store
WS/.metadata/.plugins/org.eclipse.core.resources/.history/64/f0cf2bc4aa3c00141805f729bc16334c

WS/.metadata/.plugins/org.eclipse.core.resources/.history/a4/c048a199663d00141e72fc115ddbe044

WS/.metadata/.plugins/org.eclipse.core.resources/.history/ce/100ca299663d00141e72fc115ddbe044

WS/.metadata/.plugins/org.eclipse.core.resources/.history/e0/108d968d663d00141e72fc115ddbe044

CoreJavaExercises/bin/com/core/ex1/j_10deploy/ResourceTest.jar

CoreJavaExercises/bin/com/core/ex1/j_10deploy/MANIFEST.MF

CoreJavaExercises/bin/com/core/ex1/j_10deploy/about.txt

CoreJavaExercises/bin/com/core/ex1/j_10deploy/about.gif
