<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CoreJavaExercises/src/com/core/ex1/k11_exception/LoggingImageViewer2.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.core.ex1.k11_exception.LoggingImageViewer2"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CoreJavaExercises"/>
</launchConfiguration>
